@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

main {
  text-align: center;
  vertical-align: center;
  line-height: 100vh
}

/* SIGN IN SECTION */
.signIn {
  width: 30%;
  border: 2px solid black;
  border-radius: 10px;
  padding: 20px;
}
.createAccount {
  width: 30%;
  margin-bottom: 50px;
}
