@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inconsolata", "sans-serif", "Merriweather", "serif";
  @apply bg-light-body dark:bg-dark-body;
}

@layer base {
  h1 {
    font-size: 56px;
    @apply font-serif;
  }
  h2 {
    font-size: 45px;
    @apply font-serif;
  }
  h3 {
    font-size: 35px;
    @apply font-serif;
    /* SIGN IN SECTION */
  }
  h4 {
    font-size: 27px;
    @apply font-serif;
  }
  h5 {
    @apply font-sans;
    font-size: 21px;
  }
  h6 {
    @apply font-sans;
    font-size: 16px;
  }
  p {
    @apply font-sans font-medium text-lg;
    line-height: 1.2rem;
  }
  small {
    font-size: 13.4px;
    @apply font-sans;
  }
}

/* Navbar, And Header Styles */
a {
  color: unset;
  text-decoration: none;
}

.p-main-text {
  @apply font-sans text-light-header dark:text-dark-header tracking-widest leading-6 font-medium capitalize text-xl;
}

.slide-down {
  height: 100vh;
  opacity: 1;
  top: 0;
}

.slide-up {
  height: 0;
  top: -25%;
  opacity: 0;
}

.bg-overlay {
  @apply bg-[#ffffff80] dark:bg-[#00000080];
}

.dropdown-hidden {
  visibility: hidden;
  top: 0;
  height: 0;
  transition-delay: 0s, 0s, 0s;
  transform: translateY(-35rem);
}

.d-t {
  opacity: 0;
  z-index: 1;
  transition: all 0.5s ease-in 0s, visibility 0s linear 1s, z-index 0s 0.1s;
}

.dropdown-visible {
  visibility: visible;
  opacity: 1;
  /* z-index: 10; */
  top: 0;
  transition-delay: 0s, 0.3s, 0.3s;
  transform: translateY(5rem);
}

/* Navbar Ends */

/* SIGN IN SECTION */
.signIn {
  width: 30%;
  /* border: 2px solid black; */
  border-radius: 10px;
  padding: 20px;
  @apply text-light-text dark:text-dark-text outline-none border border-border-light dark:border-border-dark;
}
.createAccount {
  @apply text-light-text dark:text-dark-text;
  width: 30%;
  margin-bottom: 50px;
}

@media only screen and (max-width: 768px) {
  .signIn,
  .createAccount {
    width: 50%;
  }
}

@media only screen and (max-width: 428px) {
  .signIn,
  .createAccount {
    width: 85%;
  }
}

.d-text > * {
  display: inline;
}

/* Animation For Offline Mode   */
.animate-wrapper {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 100%;
  height: 80%;
  border-radius: 50%;
  /* animation: pulse 2.5s infinite; */
  animation: pulse 1.5s ease-in-out infinite;
}

.animate {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
    opacity: 0.6;
  }
  50% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0.6;
  }
}
